<form class="form-login" [formGroup]="loginForm" novalidate (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-8">
      <input
        appInputValidation
        [control]="loginForm.controls['email']"
        type="email"
        formControlName="email"
        id="userEmail"
        class="form-control"
        placeholder="Email"
        required
      >
    </div>
  </div>
  <div class="form-group row">
    <label for="userPassword" class="col-sm-4 col-form-label">Password</label>
    <div class="col-sm-8">
      <input
        appInputValidation
        [control]="loginForm.controls['password']"
        type="password"
        formControlName="password"
        id="userPassword"
        class="form-control"
        placeholder="Password"
        required
      >
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-sm btn-default" type="submit">Sign in</button>
  </div>
</form>
