<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <form class="form-login" [formGroup]="registrationForm" novalidate (ngSubmit)="submitForm()">
        <div class="form-group row">
          <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
          <div class="col-sm-8">
            <input
              type="text"
              formControlName="firstName"
              id="firstName"
              class="form-control"
              placeholder="First Name"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
          <div class="col-sm-8">
            <input
              type="text"
              formControlName="lastName"
              id="lastName"
              class="form-control"
              placeholder="Last Name"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input
              [class.invalid]="registrationForm.controls['email'].touched && registrationForm.controls['email'].invalid"
              type="email"
              formControlName="email"
              id="userEmail"
              class="form-control"
              placeholder="Email"
              required
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="userPassword" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input
              [class.invalid]="registrationForm.controls['password'].touched && registrationForm.controls['password'].invalid"
              type="password"
              formControlName="password"
              id="userPassword"
              class="form-control"
              placeholder="Password"
              required
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="repeatPassword" class="col-sm-4 col-form-label">Confirm Password</label>
          <div class="col-sm-8">
            <input
              [class.invalid]="registrationForm.controls['repeatPassword'].touched && registrationForm.controls['repeatPassword'].invalid"
              type="password"
              formControlName="repeatPassword"
              id="repeatPassword"
              class="form-control"
              placeholder="Password"
              required
            >
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-sm btn-default" type="submit">Sign in</button>
        </div>
        <div class="form-group row justify-content-md-center">
          <a>Forgot Password?</a>
        </div>
        <div class="form-group row justify-content-md-center">
          <p>OR</p>
        </div>
        <div class="form-group row justify-content-md-center">
          <button class="btn btn-sm btn-default" type="submit">Sign in with Google</button>
        </div>
        <div class="form-group row justify-content-md-center">
          <button class="btn btn-sm btn-default" type="submit">Sign in with Facebook</button>
        </div>
      </form>
    </div>
  </div>
</div>

