.form-container {
  background-color: #FFF;
  padding: 20px;
  margin-top: 30%;
  .form-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 2px solid #999;
    margin-bottom: 50px;
    padding: 0 60px 10px;
  }
  .form-registration {
    margin-bottom: 20px;
    .invalid {
      border-color: #ff1f11;
    }
  }
}
