.trip-block {
  background-color: #FFF;
  padding: 20px;
  cursor: pointer;
  .trip-title {
    margin-bottom: 25px;
    font-size: 20px;
  }
  .places {
    display: flex;
    .place {
      margin-right: 20px;
      .place-image {
        display: flex;
        margin-bottom: 20px;
        .img-container {
          width: 100px;
          margin-right: 20px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
