<form class="form-forgot-password" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-8">
      <input
        appInputValidation
        [control]="forgotPasswordForm.controls['email']"
        type="email"
        formControlName="email"
        id="userEmail"
        class="form-control"
        placeholder="Email"
        required
      >
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-sm btn-default" type="submit">Reset password</button>
  </div>
</form>
