.edit-user-form {
  background-color: #FFF;
  padding: 30px 20px;
  .form-title {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .form-section {
    margin-bottom: 50px;
    .invalid {
      border-color: #ff1f11;
    }
  }
}
